header {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

section {
  text-align: center;
}

section p {
  margin-right: 20%;
  margin-left: 20%;
  /*width: 800px;*/
  text-align: center;
}

section#details div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
